/* desktop */
@media only screen and (max-width:1920px)
{    
    .content
    {
        margin-left: 0px;
    }
    .photo
    {
        margin-left: 600px;
    }
    .text_about
    {
        margin-left: 10px;
    }
    .skils
    {
        margin-left: 600px;
    }
}


/* mobile */
@media only screen and (max-width:480px) 
{
    .content
    {
        margin-left: 0px;
    }
    .photo
    {
        margin-left: 30px;
    }
    .skils
    {
        margin-left: 30px;
    }
}

@media only screen and (max-width:992px)
{
    .content
    {
        margin-left: 30px;
    }
    .photo
    {
        margin-left: 150px;
    }
    .skils
    {
        margin-left: 150px;
    }
}

@media only screen and (max-width:400px) 
{
    .content
    {
        margin-left: 0px;
    }
    .photo
    {
        margin-left: 30px;
    }
    .skils
    {
        margin-left: 30px;
    }
}